<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sowingo Front-end interview test - [your name here please]</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="myApp" ng-controller="MyController">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  
  <p>Hello world</p>
  <div>
    <label>search for 
      <span ng-show="qq">
        {{"for:" + qq }}
      </span>
    </label>
  </div>
  <div>
    <input ng-model="qq">
  </div>
  <!-- <div ng-repeat ="artist in artists" ng-if= "qq">
    <h5>{{artist.name}}</h5>
  </div> -->
  <div ng-repeat ="artist in artists">
    <h5>{{artist.name}}</h5>
  </div>

  <ul>
    <li *ngFor="let user of users"> {{user.name}}-{{user.id}}</li>
  </ul>
  

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
